.wrapper {
    /* background-color: rgba(0, 0, 0, .4); */
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
  
    max-width: 80%; /* 2 */
    /* min-height: 90%; */
  
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
  }
  

.mat-button:focus, .mat-icon-button:focus, .mat-stroked-button{
  outline:none !important;
}

